<body>
<div class="container">
  <div class="card">
    <div class="circle">
      <h2>1</h2>
    </div>
    <div class="content">
      <p>Chanchal</p>
      <p>Team Leader </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <div class="card">
    <div class="circle">
      <img src="d.jpeg" alt="Avatar" style="width:100%">
    </div>
    <div class="content">
      <p>Krati</p>
      <p>Frontened developer </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <div class="card">
    <div class="circle">
      <h2>03</h2>
    </div>
    <div class="content">
      <p>Imrana</p>
      <p>Web developer </p>
      <a href="#">Read More</a>
    </div>
  </div>

  <div class="card">
    <div class="circle">
      <h2>04</h2>
    </div>
    <div class="content">
      <p>Monika</p>
      <p>Web developer </p>
      <a href="#">Read More</a>
    </div>
  </div>

  <div class="card">
    <div class="circle">
      <h2>05</h2>
    </div>
    <div class="content">
      <p>Archana</p>
      <p>Web developer </p>
      <a href="#">Read More</a>
    </div>
  </div>
</div>
</body>